* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "lazenby";
  src: url("./lazenby-computer/LazenbyCompSmooth.ttf");
}
.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 1fr;
  width: 390px;
  height: 650px;
  padding: 30px;
  font-family: lazenby;
  background: aqua;
}

.grid {
  width: 200px;
  height: 400px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  grid-area: 1/1/2/2;
}

.stats {
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  margin-left: 20px;
}
.stats #start-button {
  font-family: lazenby;
  text-align: center;
  display: inline-block;
  margin: 5px;
  padding: 5px 0 5px 5px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}
.stats #start-button:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}
.stats .logoTitle {
  margin: 0 auto;
  padding-bottom: 10px;
}

.controller-pad {
  grid-area: 2/1/3/3;
  position: relative;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.controller-pad__button {
  font-weight: 900;
  font-family: lazenby;
  font-size: 1.8rem;
  text-shadow: 1px 1px pink, -1px -1px maroon;
  line-height: 1.5em;
  text-align: center;
  display: inline-block;
  width: 1.5em;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -o-border-radius: 0.75em;
  border-radius: 0.75em;
  background-color: blue;
  color: white;
  -webkit-box-shadow: 0 0.2em maroon;
  -moz-box-shadow: 0 0.2em maroon;
  -o-box-shadow: 0 0.2em maroon;
  box-shadow: 0 0.2em maroon;
  margin: 5px;
  padding-left: 5px;
}
.controller-pad__button:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}
.controller-pad #leftButton {
  grid-area: 2/1/3/2;
  background-color: blue;
}
.controller-pad #rightButton {
  grid-area: 2/3/3/4;
  background-color: orange;
}
.controller-pad #upButton {
  grid-area: 1/2/2/3;
  background-color: red;
}
.controller-pad #downButton {
  grid-area: 3/2/4/3;
  background-color: green;
}
.controller-pad #dropButton {
  grid-area: 2/5/3/6;
  background-color: purple;
}
.controller-pad #miscButton {
  grid-area: 1/6/2/7;
  background-color: yellow;
}

.grid div {
  height: 20px;
  width: 20px;
  border: solid 1px black;
}

.hidden {
  display: none;
  visibility: hidden;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  width: 80px;
  height: 80px;
  flex-wrap: wrap;
  display: flex;
  background-color: white;
  margin: 0 auto;
}

.mini-grid div {
  height: 20px;
  width: 20px;
  border: solid 1px black;
}